body {
	position: absolute;
	width: 100%;
	height: 100%;
}

#tickearPersonal form input[name='documento'] {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	height: 2em;
	line-height: 2em;
}

#tecladoTickear.ui-grid-b {
	padding: 0 2em;
}

#tecladoTickear.ui-grid-b a {
	padding: 1.5em 0;
}